@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");
html, body {
  height: 100%;
  min-height: 18em;
}

.frontend-side {
  background-image: url("./ressources/Images services/Elec.jpg");
}
.frontend-side button:hover {
  color: violet;
}

.uiux-side {
  background-image: url("ressources/Images-bateaux/image00022.jpeg");
}
.uiux-side button:hover {
  color: #005de3;
}

.split-pane {
  padding-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50%;
  min-height: 9em;
  font-size: 2em;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 500px) {
  .split-pane {
    padding-top: 2em;
    height: 100%;
  }
}
.split-pane div {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.split-pane div button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.5em;
  padding: 0.8em;
  font-weight: bold;
  transition: all 0.2s ease-out;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
@media (max-width: 500px) {
  .split-pane div button {
    font-size: 0.4em;
  }
}
.split-pane div button:hover {
  background: #fff;
  text-decoration: none;
}
.split-pane div .text-content {
  line-height: 1.6em;
  margin-bottom: 1em;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.split-pane div .text-content .bold {
  font-size: 0.6em;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .split-pane div .text-content .bold {
    font-size: 0.4em;
  }
}
.split-pane div .text-content .big {
  font-size: 2em;
  font-weight: 800;
}
@media (max-width: 500px) {
  .split-pane div .text-content .big {
    font-size: 1.5em;
  }
}

.split-pane-line {
  color: white;
  border-radius: 75%;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
}
.split-pane-line img {
  height: 8em;
  border-radius: 75%;
}
@media (max-width: 500px) {
  .split-pane-line img {
    height: 3em;
  }
}

@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}

.credits footer {
  position: absolute;
  bottom: 0;
  right: 5px;
  text-align: right;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}
.credits footer p {
  border: none;
  padding: 0;
}
.credits footer p strong {
  font-size: 2em;
  text-decoration: none;
}
.credits footer p strong:hover {
  color: #ff0909;
  transition: all 0.4s ease-in-out;
  font-weight: 1500;
  font-size: 4em;
}
.credits footer a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.9s ease-in-out;
}
.credits footer a:hover {
  color: #ff2222;
  font-weight: 900;
  font-size: 1.5em;
}